<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/db13cc5f74.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/host' %>
    <% else %>
      <%= render 'shared/guest' %>
    <% end %>

    <div class="notifications">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: key %>
      <% end %>
    </div>
    
    <%= yield %>

    <footer class="footer">
      <p>©︎ 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
